
.zerogrid{
    width: 1000px;
    margin: auto;
}

/*#logo-zshop{
    width: 180px;
    margin-top: 5px;
    margin-bottom: 0px;
}*/
header .row{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.menu-css {
    margin: 5px ;
    margin-left: 50px ;
    
}
.box-item{
    width: 100%;
}
.box-2 .row{
    display: grid;
}
#fila1{
    display: grid;
    grid-template-columns: 40% 60% ;
}
#fila2{
    display: grid;
    grid-template-columns: 60% 40% ;
}
#fila3{
    display: grid;
    grid-template-columns: 50% 50% ;
}

.archive-post .flex-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box-3 .box-text{
    width: 50%;
}
.container-contact{
    padding: 1px;
}
.contact1{
    display: grid;
    grid-template-columns:repeat(3, 32%);
    column-gap: 20px;
}
footer .row{
    display: grid;
    grid-template-columns:repeat(3, 300px);
    justify-content: space-between;
    margin-left: 20px;
    column-gap: 20px;
}
